.layout-wrapper {
	// height: 100vh;
	// width: 100vw;

	&__data {
		display: grid;
		grid-template-columns: repeat(auto-fit, 15rem);
		grid-gap: 2rem;
		justify-content: center;

		padding: 2rem 0;
		background-color: hotpink;

		&--following {
			background-color: lightgreen;
		}
	}
}

.image {
}
