.layout-wrapper {
	height: 100vh;
	width: 100%;

	&__data {
		display: grid;
		grid-template-columns: repeat(auto-fit, 18rem);
		grid-gap: 2rem;
		justify-content: center;
		align-items: center;

		padding: 2rem 0;
		margin-top: 16vh;
		margin-bottom: 8vh;
		//background-color: hotpink;

		&--following {
			background-color: lightgreen;
		}

		// h3 {
		// 	padding: 0 1.5rem;
		// }
	}
}

.image {
}
