.card-wrapper {
	display: grid;
	//justify-items: center;
	align-items: center;
	grid-gap: 1rem;

	background-image: linear-gradient(
			to bottom right,
			//rgba(black, 1),
				rgba(#0394fc, 0.5),
			rgba(black, 1)
		),
		url(./assets/images/bg6.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	padding: 0 1rem;
	padding-bottom: 0.7rem;
	box-shadow: 0px 10px 6px -5px rgba(black, 0.4),
		0px 8px 6px -5px rgba(black, 0.3), 0px 6px 6px -5px rgba(black, 0.2);
	overflow-y: hidden;

	&__head {
		display: grid;
		grid-template-columns: repeat(2, minmax(min-content, max-content));
		//grid-auto-flow: column;
		//justify-self: start;
		grid-gap: 0.5rem;

		&__avatar {
			height: 4rem;
			width: 4rem;
			border-radius: 5%;
			box-shadow: 0px 10px 6px -5px rgba(black, 0.6),
				0px 8px 6px -5px rgba(black, 0.6);
		}

		&__username {
			align-self: end;
			justify-self: end;
			// overflow-wrap: break-word;
			// word-break: keep-all;
			// hyphens: auto;
			//font-family: "Times New Roman", Times, serif;
		}
	}

	&__follow {
		justify-self: end;

		&__button {
			//border: 1px solid rgba(white, 0.8);
			cursor: pointer;
			padding: 0.1rem 0.5rem;
			background-color: rgba(#0394fc, 0.7);
			transition: all 0.3s;
			box-shadow: 0px 10px 8px -8px rgba(#0394fc, 0.5),
				0px 10px 10px -10px rgba(#0394fc, 0.6);

			&--white {
				background-color: rgba(white, 1);
				padding: 0.1rem 0.5rem;
			}

			&:hover,
			&:active {
				transform: translateY(-0.15rem);
				box-shadow: 0px 10px 8px -8px rgba(#0394fc, 0.8),
					0px 10px 10px -10px rgba(#0394fc, 1);
			}
		}
	}
}
